form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: auto;
}

.note {
  color: #9b5a5a;
}

label {
  font-weight: bold;
  align-self: start;
  margin-bottom: -0.5rem;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.cls-m-btn {
  margin: 0;
  height: 2rem;
  width: 2rem;
  font-size: 21px;
  padding: 0;
  border-radius: 50%;
}

#select-city {
  align-self: flex-start;
  margin: 2rem 0;
}

@media (max-width: 768px) {
  form {
    width: 90%;
  }

  .modal {
    width: 100%;
    margin-top: 70px;
    height: 100%;
  }

  .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30%;
    padding-bottom: 3rem;
  }
}
