h2 {
  text-align: center;
  margin-bottom: 3%;
}

.w-full {
  width: 100%;
}

.form-container {
  position: relative;
}

.a-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.a-form button {
  background-color: #98c10f !important;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none !important;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 2%;
  float: right;
}

.a-form label {
  background-color: #fff;
  width: 100%;
}

.year {
  display: flex;
  align-items: center;
}
