h2 {
  text-align: center;
  margin-bottom: 3%;
}

.w-full {
  width: 100%;
}

.form-container {
  position: relative;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

form input {
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid #757575;
  outline: none;
  transition: all 0.3s ease;
  padding: 10px;
}

form input:focus {
  border-bottom: 2px solid #98c10f;
  box-shadow: 0 0 5px 0 #98c10f inset;
}

form button {
  background-color: #98c10f;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 2%;
  float: right;
}

form label {
  background-color: #fff;
  width: 100%;
}
