h2 {
  text-align: center;
  margin-bottom: 3%;
}

.title {
  color: #98c10f;
}

.w-full {
  width: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/add-car.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(150, 191, 2, 0.929);
}

.add-car-form {
  width: 50%;
  background-color: #fff;
  margin-top: 100px;
  height: max-content;
  box-shadow: -1px 4px 5px 0 rgba(42, 43, 42, 0.64);
  -webkit-box-shadow: -1px 4px 5px 0 rgba(25, 26, 25, 0.64);
  -moz-box-shadow: -1px 4px 5px 0 rgba(38, 38, 36, 0.64);
  border-radius: 8px;
  z-index: 10;
}

form button {
  background-color: #98c10f !important;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none !important;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 2%;
  float: right;
}

form label {
  background-color: #fff;
  width: 100%;
}

.year {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .add-car-form {
    width: 92%;
  }

  .form-container {
    height: 90vh;
  }
}
