.modal-footer {
  background: rgb(216, 216, 177);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

table {
  margin: 5rem;
  box-shadow: 1px 4px 8px 2px;
}
