.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-image: url(../../assets/reservation-car.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(150, 191, 2, 0.829);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.nav-icon {
  font-size: 24px;
  cursor: pointer;
}

.search-icon {
  font-size: 24px;
  cursor: pointer;
}

.title {
  z-index: 100;
  text-align: center;
  margin-bottom: 20px;
}

.title > h4 {
  color: #fff;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  gap: 1rem;
}

button {
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #a2d31a;
  border: 1px solid;
  color: #fff;
  cursor: pointer;
}

#book_now {
  width: 10rem;
  border-radius: 25px;
  background-color: #fff;
  z-index: 10;
  color: #a2d31a;
}

#carName {
  height: 2rem;
  border: none;
  width: 10rem;
  background-color: #c2d6ae;
  align-self: flex-start;
  border-radius: 5rem;
  padding: 0px 9px;
}

.cls-m-btn {
  width: 2.5rem;
  align-self: end;
  margin: 0;
}

button:hover {
  background-color: #0c7cd5;
}

.divider {
  width: 100%;
  margin: 20px 0;
  border: none;
  border-top: 1px solid #fff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal h2 {
  margin-top: 0;
}

.modal button {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
  }

  .title {
    margin: 0;
  }

  .buttons {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    width: 95%;
  }

  form {
    width: 100%;
  }
}
