.app {
  display: grid;
  margin: 0;
  height: auto;
  background-color: #edecec;
  grid-template-columns: 100%;
  padding: 0;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-container {
  height: 100vh;
  position: absolute;
  left: 0;
  z-index: 9999;
}
