.app {
  display: grid;
  margin: 0;
  height: auto;
  background-color: #edecec;
  grid-template-columns: 30% 60%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-container {
  height: 100vh;
}
